name: test
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v7.0
      - uses: VirtusLab/scala-cli-setup@v1.10
      - name: Scalafmt check
        run: |
          scala-cli fmt --check . || (
            echo "To format code run"
            echo "  scala-cli fmt ."
            exit 1
          )
      - run: scala-cli test .
